@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #49808C;
    --cor2: #94F2E1;
    --cor3: #81A649;
    --cor4: #F2E1C2;
    --cor5: #F27830;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.conteudo {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    width: 50%;
}

input, select, textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.349);
    margin-bottom: 15px;
    width: 100%;
}

.contatos {
    background-color: #6ab9ca;
    border-radius: 10px 0 0 10px;
    padding: 30px 20px;
    width: 50%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    height: 350px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.37);
}

[type="button"] {
    background-color: #F27830;
    border: 0;
    padding: 10px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.769);
    border-radius: 10px;
}

[type="button"]:hover {
    background-color: #f58e52;
}

@media screen and (max-width: 768px) {
    main > h1:first-of-type, p:first-of-type {
        text-align: center;
    }
    .conteudo {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    
    .contatos {
        width: 100%;
        border-radius: 0;
    }
    
    form {
        padding: 20px;
        width: 100%;
    }
}