*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


main{
    display: flex;
    flex-direction: column;
    gap: 60px;
}



#imagem{
    height: 360px;
    background-image: url('../sobre/imagens/agencia.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
#imagem > h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
}
#imagem > p{
    color: white;
}
.butons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button {
    padding: 10px 40px;
    border-radius: 20px;
    border: 0;
    margin-right: 15px;
    color: #072D3A;
    margin-bottom: 20px;
}
button:focus, button:hover{
    background-color: #072D3A;
    color: white;
}


#textsobre {
    margin-left: 10%;
    margin-right: 10%;
}
#textsobre > p{
    margin-bottom: 10px;
    text-align: justify;
    word-break: break-all;
}
#textsobre > h1{
    text-align: center;
    margin-bottom: 60px;
    color: #072D3A;
    font-size: 36px;
}
#textsobre > img {
    width: min(600px, 97%);
    float: right;
    border-radius: 6px;
    margin-left: 15px;
    margin-bottom: 4px;
    display: flex;
    
}
@media screen and (max-width: 768px){
    #imagem > h1 {
        font-size: 35px;
    }
    
    #textsobre > h1{
        font-size: 28px;
    }
    
    main{
        gap: 0;        
    }
}