@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

.imagens {
    display: flex;
    width: 50%;
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.imagens div{
    display: flex;
    width: 285px;
    height: 285px;
}

#Brasil {
    width: 285px;
    height: 285px;
    background-image: url(fotonule.jpg);
}

#Centro_Oeste {
    width: 285px;
    height: 285px;
    background-image: url(regiao-centro-oeste.jpg);
}

#Nordeste {
    width: 285px;
    height: 285px;
    background-image: url(regiao-nordete.jpg);
}