@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

.imagens {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    background-color: orange;
    gap: 1rem;
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.imagens div {
    display: flex;
    transition: all 250ms;
}

.imagens div img {
    border-radius: 1rem;
}

.imagens2{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.imagens2 div {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
}

.imagens2 div img {
    border-radius: 1rem;
}

